<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои банковские счета</title>
</head>
<body>
<div layout:fragment="content">
    <div class="mt-5">
        <div class="row">
            <div class="col">
        <h2>Все мои банковские счета</h2>
    </div>
    </div>

    <div>
        <table class="table table-hover mt-3">
            <thead>
            <tr>
                <th scope="col">Вид счета</th>
                <th scope="col">Номер счета</th>
                <th scope="col">Баланс, руб.</th>
                <th scope="col">Статус</th>
                <th scope="col">Дата открытия</th>
                <th scope="col">Дата окончания</th>
                <!--          <th scope="col">Дата последней операции</th>-->
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bankAccount : ${bankAccounts}">
                <td th:text="${bankAccount.getTypeInfo().getTitle()}"></td>
                <td th:text="${bankAccount.getAccountNumber()}"></td>
                <td th:text="${bankAccount.getBalance()}"></td>
                <td th:text="${bankAccount.isClosed()} ? 'Закрыт' : 'Открыт'"></td>
                <td th:text="${bankAccount.getOpeningDate()}"></td>
                <td th:text="${bankAccount.getEndingDate()} == null ? '' : ${bankAccount.getEndingDate()}"></td>
                <td>
                    <div sec:authorize="isAuthenticated() && hasRole('USER')">
<!--                        <a class="btn btn-sm btn-outline-success"-->
<!--                           th:href="'/transactions/search/transactionsByAccount/' + ${bankAccount.getId}">Выписка</a>-->
                        <a th:if="${!bankAccount.isClosed()}" class="btn btn-sm btn-outline-success"
                           th:href="'/transactions/' + ${bankAccount.getId}">Перевод</a>
                        <a th:if="${!bankAccount.isClosed()}" class="btn btn-sm btn-outline-danger"
                           th:href="'/bankAccounts/close/' + ${bankAccount.getId}"
                           onclick="return confirm('Вы действительно хотите закрыть счет?')">Закрыть счет</a>
                    </div>
            </tr>
            </tbody>
        </table>
    </div>
    <!--        &lt;!&ndash;Модальное окно для ошибок старт&ndash;&gt;-->
    <!--        <div th:if="${exception != null && exception != ''}" class="modal fade" id="deleteErrorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
    <!--            <div class="modal-dialog">-->
    <!--                <div class="modal-content">-->
    <!--                    <div class="modal-header">-->
    <!--                        <h5 class="modal-title" id="exampleModalLabel">Ошибка</h5>-->
    <!--                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
    <!--                    </div>-->
    <!--                    <div class="modal-body" th:text="${exception}">-->
    <!--                    </div>-->
    <!--                    <div class="modal-footer">-->
    <!--                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        &lt;!&ndash;Модальное окно для ошибок конец&ndash;&gt;-->
    <div>
        <nav aria-label="Pagination" th:if="${bankAccounts.totalPages gt 0}">
            <ul class="pagination justify-content-center font-weight-bold">
                <li class="page-item" th:classappend="${bankAccounts.number eq 0} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/bankAccounts?page={id}(id=${bankAccounts.number lt 2 ? 1 : bankAccounts.number})}"
                       aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${i eq bankAccounts.number + 1} ? 'active'"
                    th:each="i : ${#numbers.sequence( 1, bankAccounts.totalPages, 1)}">
                    <a class="page-link" th:href="@{/bankAccounts?page={id}(id=${i})}" th:text="${i}"
                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                </li>
                <li class="page-item"
                    th:classappend="${bankAccounts.number eq bankAccounts.totalPages - 1} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/bankAccounts?page={id}(id=${bankAccounts.number + 2})}"
                       aria-label="Next" title="Next Page" data-toggle="tooltip">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</div>
</body>
</html>